.numbers {
    display: flex;
    flex: wrap;
    justify-content: space-between;
}
body{
    background-image:linear-gradient(#336,rgb(96, 96, 141));
    
}
.contain{
    height: 560px;
    margin:30px auto;
    width: 330px;
    background-color: black;
    border-radius: 20px;
}



.screen{
    height: 70px;
    margin:auto;
    width: 300px;
    background-color:#cddfc1;
    border-radius: 10px;
    margin-top: 40px;
}
.numbers{
    display: inline-block;
    height: 500px;
    width:300px ;
    margin:20px auto;
    margin-left: 30px;
    
    
}
.numb{
    height: 57px;
    width: 57px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px;
    font-weight: bold;
    
}

#off{
    background-color: red;
    color: honeydew;
    outline: none;
}
#on{
    background-color: indigo;
    color: honeydew;
    outline: none;
}
#num{
    outline: none;
}
.answer{
    height: 57px;
    width: 200px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: green;
    color: honeydew;
}
h5{
    text-align: center;
    padding-top: 15px;
    color: ivory;
}