.contain{
    display: flex;
    flex: wrap;
    justify-content: space-between;
}
.contain{
    height: 500px;
    margin: 40px auto;
    width: 350px;
    background-color: black;
    border-radius: 20px;
}
.screen{
    height: 90px;
    margin: 50px auto;
    width: 300px;
    background-color:white;
    border-radius: 10px;
}