.contai,.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.container{
    height: 300px;
    width: 100vw;
    background-color: aliceblue;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./images/loi.jpeg");
    background-size: cover;
}
h1{
    color:aqua;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 80px;
    text-shadow: 2px 4px 7px black;
}

.containerone{
    height: 70px;
    width: 100vw;
    background-color:rgb(175, 97, 175);
    box-sizing: border-box;
    
}
.para1{
    color:black;
    margin: auto;
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
.work{
    text-align: center;
    padding-top: 20px; 
    background-color:rgba(9, 0, 26, 0.8); 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#head2{
    padding-bottom:13px;
}
#question{
    padding-top: 12px;
}
.btn{
    height: 40px;
    width: 90px;
    background-color:blueviolet;
    border-radius: 7px;
    border: 1px solid blueviolet;
    outline: 0px;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.work1{
    background-color:white;
    text-align: center;
    padding-top: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.big{
    text-align: center;
    color:rgb(240, 207, 18);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    margin: auto;
    text-shadow: 2px 4px 7px black;
}
.next{
    height: 40px;
    width: 75px;
    background-color: maroon;
    color: lightgreen;
    margin-left: 150px;
    margin-top:30px ;
    outline: none;
    border-radius: 40px;
    border: 1px solid maroon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
 .next:hover{
    background-color:lightgreen;
    color: maroon;
    border: 1px solid lightgreen;
}